<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to t('views.show'), user %>
    </p>
  <% end %>
</div>

<%= paginate @users %>

<%= link_to t('views.back', model: User.model_name.human), books_path %>
